<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Admin Profile</h1>
    </div>
    <div class="col text-right">
      <button class="btn btn-primary ml-auto"><a class="nav-link" routerLink="logout"><h4>Logout</h4></a></button>
    </div>
  </div>
</div><br><br>
<div class="container-fluid text-center">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Product name</th>
        <th>Status</th>
        <th>Payment status</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of adminLists">
        <td>{{list.id}}</td>
        <td>{{list.userName}}</td>
        <td>{{list.productName}}</td>
        <td>{{list.status}}</td>
        <td>{{list.paymentStatus}}</td>
        <td><a class="btn btn-info" [routerLink]="['/cargo/adminEdit',list.id]">Edit</a></td>
        <td><a class="btn btn-danger" [routerLink]="['/cargo/adminDelete',list.id]">Delete</a></td>
      </tr>
    </tbody>
  </table>
</div>

